<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net471" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="RestSharp" version="106.6.7" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
  <package id="TOTVS.S1.Messenger.Library" version="2.1.0" targetFramework="net471" />
</packages>