<script>
    function fnFormReady() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("StatusCard", "Home")',
            success: function (data) {
                if (data.numeroNFNaoTransmitidas == "0") {
                    $$$._.cardNotaFiscal.setColor("green");
                    $$$._.cardNotaFiscal.info("<h4><strong>Não há Notas Fiscais não transmitidas</strong></h4>");
                }
                else if (data.numeroNFNaoTransmitidas == "1") {
                    $$$._.cardNotaFiscal.info("<h4>Você tem <strong>" + data.numeroNFNaoTransmitidas + "</strong> Nota Fiscal não transmitida.</h4>");
                }
                else {
                    $$$._.cardNotaFiscal.info("<h4>Você tem <strong>" + data.numeroNFNaoTransmitidas + "</strong> Notas Fiscais não transmitidas.</h4>");
                }
            },
            error: function (jXHR, textStatus, errorThrown) {
                $$$.toast(data.message, 'error');
            }
        });
    }
</script>