<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ComprasConnection"
      connectionString="Data Source=tcp:fly01appsgestao.database.windows.net,1433;Password=totvs@123;Persist Security Info=False;User ID=fly01appsgestao;Initial Catalog=Fly01ComprasDb;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="InstrumentationKeyAppInsights" value="87969415-be56-477e-a218-92a13877e78e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitAMQPUrl" value="amqp://acgfboef:BkLurB9bA_H8fYkLHIcHsk_pAm4ncoAS@sassy-kangaroo.rmq.cloudamqp.com/acgfboef" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitVirtualHostname" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHostApps" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHostIntegracao" value="integracao" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitUserName" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitPassword" value="Totvs@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGateway" value="http://gateway.fly01.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- URLs para acesso direto às APIs sem passar pelo Gateway -->
    <add key="UrlEstoqueApi" value="http://apifly01estoquenovo.fly01.com.br/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlEmissaoNfeApi" value="http://apifly01emissaonfe.fly01.com.br/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>