<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="InstrumentationKeyAppInsights" value="" />
    <add key="MongoUserName" value="fly01cosmosdb" />
    <add key="MongoHost" value="fly01cosmosdb.documents.azure.com" />
    <add key="MongoPassword" value="0lXbUOhgMI1Xu8Aao8cIeOgWa7D8ArP7GcnRSuOfm702aafTZac5VMv8rYYj8X5DNhZvaUdxAWPq7HWSLYjkQQ==" />
    <add key="MongoDBLog" value="LogDB" />
    <add key="MongoDBAvaliacaoApp" value="AvaliacaoAppDB" />
    <add key="MongoCollectionNameLog" value="compras" />
    <add key="MongoCollectionNameServiceBusLog" value="serviceBus" />
    <add key="MongoCollectionNameAvaliacaoApp" value="avaliacaoApp" />
    <add key="MongoCollectionNameIntegracaoRabbitMQ" value="integracaoRabbitMQ" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- RABBIT MQ INÍCIO -->

    <add key="RabbitAMQPUrl" value="amqp://yhnuyjjm:K9bJ1Mv8te6VHoEJwbHHbF3D1EHJWL1A@termite.rmq.cloudamqp.com/yhnuyjjm" />
    <add key="RabbitAMQPExchangeName" value="amq.direct" />
    <add key="RabbitServiceQueueName" value="Compras" />
    <add key="RabbitSequenceGenetorQueueName" value="sequence-generator-queue" />
    <add key="RabbitVirtualHostname" value="dev" />
    <add key="RabbitVirtualHostApps" value="yhnuyjjm" />
    <add key="RabbitVirtualHostIntegracao" value="" />
    <add key="RabbitUserName" value="yhnuyjjm" />
    <add key="RabbitPassword" value="K9bJ1Mv8te6VHoEJwbHHbF3D1EHJWL1A" />
    <add key="RabbitListRoutingKeys" value="Pessoa,Produto,Categoria,CondicaoParcelamento,FormaPagamento,GrupoProduto,MovimentacaoProduto,SubstituicaoTributaria,GrupoTributario,CertificadoDigital,ParametroTributario,SerieNotaFiscal,NotaFiscalInutilizada,Servico,Kit,KitItem,CentroCusto,ConfiguracaoPersonalizacao" />
    <add key="UrlGateway" value="http://gateway.fly01local.com.br/api/" />
    <add key="UrlGatewayNew" value="http://gateway-homolog.totvsmpn.com.br/" />
    

    <!-- RABBIT MQ FIM -->

    <!-- URLs para acesso direto às APIs sem passar pelo Gateway -->
    <add key="UrlEstoqueApi" value="http://apiestoque.bemacashlocal.com.br/api/" />
    <add key="UrlEmissaoNfeApi" value="http://apiemissaonfe.bemacashlocal.com.br/api/" />
    <add key="UrlFinanceiroApi" value="http://apifinanceiro.bemacashlocal.com.br/api/" />

    <add key="FinanceiroClientId" value="acc8b796-04a0-4f4f-b6a4-924d1ca4c27b" />
    <add key="FaturamentoClientId" value="00ba2502-447e-4670-8885-b67d64496141" />
    <add key="EstoqueClientId" value="f259ea8b-f966-4c4f-8b18-97fa4bf2af87" />
    <add key="ComprasClientId" value="65e3ba3e-6fcd-4527-b2a4-9dc37c80e285" />
    <add key="OrdemServicoClientId" value="9ee2f20e-a9cc-48bc-954b-6e8918a87af6" />

    <add key="UrlFinanceiroWeb" value="http://financeiro.bemacashlocal.com.br/" />
    <add key="UrlFaturamentoWeb" value="http://faturamento.bemacashlocal.com.br/" />
    <add key="UrlComprasWeb" value="http://compras.bemacashlocal.com.br/" />
    <add key="UrlEstoqueWeb" value="http://estoque.bemacashlocal.com.br/" />
    <add key="UrlOrdemServicoWeb" value="http://ordemservico.bemacashlocal.com.br/" />

  </appSettings>
  <connectionStrings>
    <!--<add name="ComprasConnection" connectionString="Data Source=localhost\MSSQLSERVER14;Password=012345678@totvs123;Persist Security Info=True;User ID=sa;Initial Catalog=Fly01Compras;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="ComprasConnection" connectionString="Data Source=tcp:bemacashstageappsgestao.database.windows.net,1433;Password=totvs@123;Persist Security Info=False;User ID=bemacashstageappsgestao;Initial Catalog=BemacashStageCompras;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.0.10724" newVersion="7.3.0.10724" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.0.10724" newVersion="7.3.0.10724" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.0.10724" newVersion="7.3.0.10724" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>