<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ComprasConnection"
      connectionString="Data Source=firsthomolog.cloudapp.net,1433\sqlexpress;Password=First@homolog;Persist Security Info=True;User ID=sa;Initial Catalog=Fly01ComprasAPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="RabbitAMQPUrl" value="amqp://yhnuyjjm:jH7sP63TXEZxl9NqodzjTczKg6Hg7SNU@termite.rmq.cloudamqp.com/yhnuyjjm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitVirtualHostname" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHost" value="yhnuyjjm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitUserName" value="yhnuyjjm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitPassword" value="jH7sP63TXEZxl9NqodzjTczKg6Hg7SNU" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>