<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="GestaoFinanceiraMEIConnection"
      connectionString="Data Source=tcp:fly01appsgestao.database.windows.net,1433;Password=totvs@123;Persist Security Info=False;User ID=fly01appsgestao;Initial Catalog=Fly01FinanceiroDb;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="InstrumentationKeyAppInsights" value="f136aaa1-f53a-4e3b-8800-f46bb6fe568f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitAMQPUrl" value="amqp://acgfboef:BkLurB9bA_H8fYkLHIcHsk_pAm4ncoAS@sassy-kangaroo.rmq.cloudamqp.com/acgfboef" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitVirtualHostname" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHostApps" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHostIntegracao" value="integracao" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitUserName" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitPassword" value="Totvs@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGateway" value="http://gateway.fly01.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway.totvsmpn.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UrlNotificationSocket" value="release" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="FinanceiroClientId" value="9431cdb8-cb8e-4702-8276-37e91bfc2ad7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FaturamentoClientId" value="dfc2cdaa-75a3-4eab-b274-fa6b4fcec9fd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EstoqueClientId" value="79579272-eacf-4522-97fe-91924e9a8d20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ComprasClientId" value="a8e5f1ce-d0b4-4b0a-8562-9b8fbf19217b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OrdemServicoClientId" value="68873d7a-4dda-49ad-953a-010f1b9d2dfc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="UrlFinanceiroWeb" value="https://financeiro.bemacash.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlFaturamentoWeb" value="https://faturamento.bemacash.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlComprasWeb" value="https://compras.bemacash.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlEstoqueWeb" value="https://estoque.bemacash.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlOrdemServicoWeb" value="https://ordemservico.bemacash.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MongoUserName" value="admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoPassword" value="admin@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoHost" value="mpn-gestao-prodmgmt.brazilsouth.cloudapp.azure.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoPort" value="27017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>