<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FinanceiroConnection"
      connectionString="Data Source=tcp:fly01appsgestao.database.windows.net,1433;Password=totvs@123;Persist Security Info=False;User ID=fly01appsgestao;Initial Catalog=Fly01FinanceiroDb;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="InstrumentationKeyAppInsights" value="f136aaa1-f53a-4e3b-8800-f46bb6fe568f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHost" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitUserName" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitPassword" value="Totvs@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>