<script>
    function showPopUpExcluirSchedules(idRecord) {
        bootbox.confirm({
            buttons: {
                confirm: {
                    label: "Excluir",
                    className: "button btn btn-primary"
                },
                cancel: {
                    label: "Cancelar",
                    className: "button btn btn-default"
                }
            },
            animate: true,
            title: "Confirmar Exclusão",
            message: 'Você está prestes a excluir um item que faz parte de uma recorrêcia!<br/><br/><label>' +
                '<input type="radio" name="scheduled" value="justIt" checked> Excluir somente este item<br>' +
                '<input type="radio" name="scheduled" value="itAndAllNext"> Excluir este item e todos itens seguintes<br></label>',
            callback: function (result) {
                if (result) {
                    if (idRecord != null && idRecord.length > 0) {
                        var urlDelete = '@Url.Action("Delete", "ContaReceber")';
                        var deleteNextSchedules = $('input[name=scheduled]:checked').val() == "itAndAllNext";

                        if (deleteNextSchedules) {
                            urlDelete = '@Url.Action("DeleteSchedules", "ContaReceber")';
                        }

                        $.ajax({
                            type: "POST",
                            url: urlDelete,
                            data: { id: idRecord },
                            success: function (data) {
                                if (data.success) {
                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("List", "ContaReceber")',
                                        success: function (dados) {
                                            $('#content').html(dados);
                                            ShowSuccess(data.message);
                                        }
                                    });
                                }
                                else {
                                    ShowError(data.message);
                                }
                            },
                            error: function (jXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                    }
                }
            }
        });
    }
</script>