@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        function formSubmit() {
            document.getElementById("formSSO").submit();
        }
    </script>
</head>
<body onload="formSubmit()">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { action = ViewBag.LoginUrl, id = "formSSO" })) { }
</body>
</html>