<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="InstrumentationKeyAppInsights" value="23a2608c-1e89-490a-968b-97b9ad4d5402" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGateway" value="http://gateway.fly01.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway.totvsmpn.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GatewayUserName" value="a8e5f1ce-d0b4-4b0a-8562-9b8fbf19217b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GatewayPassword" value="appCompras_9b8fbf19217b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlManager" value="https://meu.bemacash.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RootPathApplication" value="http://{0}.bemacash.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppId" value="a8e5f1ce-d0b4-4b0a-8562-9b8fbf19217b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MPNUIVersion" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlNotificationSocket" value="https://platform.notifications.totvsmpn.com.br/AppsGestao" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies domain=".bemacash.com.br" xdt:Transform="Replace"/>
    <sessionState mode="Custom" customProvider="SessionStateRedisAzure" timeout="1440" xdt:Transform="Replace">
      <providers>
        <add name="SessionStateRedisAzure" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="fly01compras.redis.cache.windows.net" port="6379" accessKey="KBGDxTu4hDouDahmH8zl0LEqo+KzqbQKD1xwM9S9VcM=" ssl="false" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <!-- BEGIN rule TAG FOR HTTPS REDIRECT -->
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!-- END rule TAG FOR HTTPS REDIRECT -->
      </rules>
    </rewrite>
  </system.webServer>
  <system.net xdt:Transform="Remove">
  </system.net>
  <applicationSettings>
    <Fly01.Compras.Properties.Settings xdt:Transform="Replace">
      <setting name="Fly01_Compras_SOAManager_SOAManager" serializeAs="String">
        <value>http://mashups-proxy.cloudtotvs.com.br:8055/TOTVSSoa.Host/SOAManager.svc</value>
      </setting>
    </Fly01.Compras.Properties.Settings>
  </applicationSettings>
</configuration>
