@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    //const socket = io(`http://platform.notifications-homolog.totvsmpn.com.br/AppsGestao`);
    const socket = io('http://10.51.4.35:5000/AppsGestao');

    socket.emit('login', 'lojahomolog.fly01dev.com.br');

    socket.on(`receivedMessage_00ba2502-447e-4670-8885-b67d64496141_lojahomolog.fly01dev.com.br`, (message) => {
        //$('.messages').append('<div class="message"><strong>Faturamento ' + message[0] + '</strong>: ' + message.message + '</div>');
        alert(message.message);
    });
</script>
