<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EmissaoNFEConnection"
      connectionString="Data Source=bemacashstageappsgestao.database.windows.net,1433;Password=totvs@123;Persist Security Info=True;User ID=bemacashstageappsgestao;Initial Catalog=BemacashStageEmissaoNFe;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="UrlS1Gateway" value="http://gateway.fly01dev.com.br/api/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->

    <add key="MongoUserName" value="admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoPassword" value="admin@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoHost" value="seqgenmgmt.brazilsouth.cloudapp.azure.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoPort" value="27017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <applicationSettings>
    <Fly01.EmissaoNFE.API.Properties.Settings>
      <setting name="Fly01_EmissaoNFE_API_SPEDADM_SPEDADM" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://tss-homologacao.totvscloud.com.br:8261/nfe/SPEDADM.apw</value>
      </setting>
      <setting name="Fly01_EmissaoNFE_API_SPEDCFGNFE_SPEDCFGNFE" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://tss-homologacao.totvscloud.com.br:8261/nfe/SPEDCFGNFE.apw</value>
      </setting>
      <setting name="Fly01_EmissaoNFE_API_NFESBRA_NFESBRA" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://tss-homologacao.totvscloud.com.br:8261/nfe/NFESBRA.apw</value>
      </setting>
      <setting name="Fly01_EmissaoNFE_API_NFSE001_NFSE001" serializeAs="String">
        <value>http://tss-homologacao.totvscloud.com.br:8261/nfe/NFSE001.apw</value>
      </setting>
      <setting name="Fly01_EmissaoNFE_API_SPEDADMProd_SPEDADM" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://tss5-cloud.totvs.com.br/nfe/SPEDADM.apw</value>
      </setting>
      <setting name="Fly01_EmissaoNFE_API_SPEDCFGNFEProd_SPEDCFGNFE" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://tss5-cloud.totvs.com.br/nfe/SPEDCFGNFE.apw</value>
      </setting>
      <setting name="Fly01_EmissaoNFE_API_NFESBRAProd_NFESBRA" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://tss5-cloud.totvs.com.br/nfe/NFESBRA.apw</value>
      </setting>
    </Fly01.EmissaoNFE.API.Properties.Settings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>