<!DOCTYPE html>
<html>
<head>
    @Html.HeadTemplate("Gestão Financeira MEI")
</head>
<body>
    <div id="login-page" class="container">
        @RenderBody()
    </div>
    @Html.ScriptsTemplate()
    @RenderSection("scripts", required: false)
</body>
</html>