@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_LayoutLogin.cshtml";
}

<h3>Ocorreu um erro na requisição.</h3>

@if (Model != null && Model.Exception != null)
{
    <p>@Html.Raw(Model.Exception.Message)</p>
}