<script>
    function fnRenderEnum(fieldCssClass, fieldDescription) {
        return "<span class='new badge " + fieldCssClass + " left' data-badge-caption=' '>" + fieldDescription + "</span>"
    }
</script>