<script>
    function fnRenderEnum(data, type, row, meta) {
        var cssStyle = "";
        var tooltipValue = "";
        var description = "";

        return "<span class='cool badge left " + row.statusCssClass + "' data-tooltip='" + row.statusTooltip + "'>" + row.statusDescription + "</span>";
    }

    $(document).on("preDraw.dt", ".dataTable", () => {
        $("span.cool.badge").tooltip('remove');
    });

    $(document).on("draw.dt", ".dataTable", () => {
        $("span.cool.badge").tooltip({ position: "top" });
    });
</script>