<script>
    function fnRenderEnum(data, type, row, meta) {
        return "<span class='new badge " + row.statusCssClass + " left' data-badge-caption=' '>" + row.statusDescription + "</span>"
    }
</script>