@model Fly01.Core.Presentation.SSO.SSOGatewayRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestão Financeira MEI</title>
</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSSO", action = Model.SSOUrl }))
    {
        <input type="hidden" id="appId" name="appId" value="@Model.AppId" />
        <input type="hidden" id="appPassword" name="appPassword" value="@Model.AppPassword" />
        <input type="hidden" id="assertionUrl" name="assertionUrl" value="@Model.AssertionUrl" />
    }
    <script type="text/javascript">document.getElementById('formSSO').submit();</script>
</body>
</html>
