<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FaturamentoConnection"
      connectionString="Data Source=bemacashstageappsgestao.database.windows.net,1433;Password=totvs@123;Persist Security Info=True;User ID=bemacashstageappsgestao;Initial Catalog=BemacashStageFaturamento;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>

    <add key="RabbitAMQPUrl" value="amqp://vmygqrcb:2Cg-rsz66ZTRISSXV-sBOu_fgAjsdwhf@tiny-tiger.rmq.cloudamqp.com/vmygqrcb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitVirtualHostname" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHostApps" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHostIntegracao" value="integracao" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitUserName" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitPassword" value="2Cg-rsz66ZTRISSXV-sBOu_fgAjsdwhf" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- URL Gateway -->
    <add key="UrlGateway" value="http://gateway.fly01dev.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway-homolog.totvsmpn.com.br/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlNotificationSocket" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- URLs para acesso direto às APIs sem passar pelo Gateway -->
    <add key="UrlFinanceiroApi" value="http://mpn-financeiro-api-stage.azurewebsites.net/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlEstoqueApi" value="http://mpn-estoque-api-stage.azurewebsites.net/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlEmissaoNfeApi" value="http://mpn-emissaonfe-api-stage.azurewebsites.net/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="UrlFinanceiroWeb" value="http://financeiro.bemacashstage.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlFaturamentoWeb" value="http://faturamento.bemacashstage.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlComprasWeb" value="http://compras.bemacashstage.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlEstoqueWeb" value="http://estoque.bemacashstage.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlOrdemServicoWeb" value="http://ordemservico.bemacashstage.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MongoUserName" value="admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoPassword" value="admin@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoHost" value="seqgenmgmt.brazilsouth.cloudapp.azure.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoPort" value="27017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
  </system.web>
</configuration>