<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FaturamentoConnection"
      connectionString="Data Source=firsthomolog.cloudapp.net,1433\sqlexpress;Password=First@homolog;Persist Security Info=True;User ID=sa;Initial Catalog=Fly01FaturamentoAPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="RabbitVirtualHost" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitUserName" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitPassword" value="Totvs@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- URL Gateway -->
    <add key="UrlGateway" value="http://gateway.fly01dev.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- URLs para acesso direto às APIs sem passar pelo Gateway -->
    <add key="UrlEstoqueApi" value="http://apiestoque.fly01dev.com.br/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlEmissaoNfeApi" value="http://apiemissaonfe.fly01dev.com.br/api/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
  </system.web>
</configuration>