<script>
    function fnGetStatusCertificado() {
        $$$.loading.start();
        $.ajax({
            url: '@Url.Action("StatusCard", "CertificadoDigital")',
            type: "GET",
            success: function (data) {
                $$$._.cardCertificado.setColor(data.color);
                $$$._.cardCertificado.info(`<h5>${data.mainInfo}</h5><small>${(data.subInfo || "")}</small>`)

                $$$.fn.updateTextFields();
                if (data.entidadeHomologacao != "" || data.entidadeProducao != "") {
                    $("input#entidadeHomologacao").val(data.entidadeHomologacao);
                    $("input#entidadeProducao").val(data.entidadeProducao);
                    $("input#id").val(data.id);
                    $("#entidadeHomologacaoField").show();
                    $("#entidadeProducaoField").show();
                    $$$.fn.updateTextFields();
                }
                else {
                    $("#entidadeHomologacaoField").hide();
                    $("#entidadeProducaoField").hide();
                }
                $$$.loading.stop();
                if (!data.success)
                    $$$.toast(data.message, 'error');
            },
            error: function (jXHR, textStatus, errorThrown) {
                $$$.loading.stop();
                $$$.toast(data.message, 'error');
            }
        });
    }

    function formataData(data) {
        return moment(data).format("DD[/]MM[/]YYYY");
    }

</script>