<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EstoqueConnection"
      connectionString="Data Source=firsthomolog.cloudapp.net,1433\sqlexpress;Password=First@homolog;Persist Security Info=True;User ID=sa;Initial Catalog=Fly01EstoqueAPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="UrlGateway" value="http://gateway.fly01dev.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitAMQPUrl" value="amqp://vmygqrcb:2Cg-rsz66ZTRISSXV-sBOu_fgAjsdwhf@tiny-tiger.rmq.cloudamqp.com/vmygqrcb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitVirtualHostname" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitVirtualHost" value="homolog,integracao" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitUserName" value="homolog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitPassword" value="2Cg-rsz66ZTRISSXV-sBOu_fgAjsdwhf" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>