<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="InstrumentationKeyAppInsights" value="e68d1239-0f03-4d2c-9108-d614a1f3a827" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGateway" value="http://gateway.fly01.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway.totvsmpn.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GatewayUserName" value="79579272-eacf-4522-97fe-91924e9a8d20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GatewayPassword" value="appEstoque_91924e9a8d20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlManager" value="https://meu.bemacash.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RootPathApplication" value="http://{0}.bemacash.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppId" value="79579272-eacf-4522-97fe-91924e9a8d20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlNotificationSocket" value="https://platform.notifications.totvsmpn.com.br/AppsGestao" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies domain=".bemacash.com.br" xdt:Transform="Replace"/>
    <sessionState mode="Custom" customProvider="SessionStateRedisAzure" timeout="1440" xdt:Transform="Replace">
      <providers>
        <add name="SessionStateRedisAzure" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="fly01estoque.redis.cache.windows.net" port="6379" accessKey="4fXg3SUGo/ZbUgIC1OE4IZvRmxOoEuugE7Jq2lRRKIg=" ssl="false" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <!-- BEGIN rule TAG FOR HTTPS REDIRECT -->
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!-- END rule TAG FOR HTTPS REDIRECT -->
      </rules>
    </rewrite>
  </system.webServer>
  <system.net xdt:Transform="Remove">
  </system.net>
  <applicationSettings>
    <Fly01.Estoque.Properties.Settings xdt:Transform="Replace">
      <setting name="Fly01_Estoque_SOAManager_SOAManager" serializeAs="String">
        <value>http://mashups-proxy.cloudtotvs.com.br:8055/TOTVSSoa.Host/SOAManager.svc</value>
      </setting>
    </Fly01.Estoque.Properties.Settings>
  </applicationSettings>
</configuration>
