<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UrlGateway" value="http://gateway.fly01dev.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway-homolog.totvsmpn.com.br/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlManager" value="https://manager.bemacashstage.com.br/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <httpCookies domain=".bemacashstage.com.br" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="Custom" customProvider="SessionStateRedisAzure" timeout="1440" xdt:Transform="Replace">
      <providers>
        <add name="SessionStateRedisAzure" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="mpn-manager-web-stage.redis.cache.windows.net" port="6379" accessKey="EsM1k4axIHDOeH2RFmVa+0BnstY4GBC7SqPAKQQ9WeU=" ssl="false" />
      </providers>
    </sessionState>
  </system.web>
  <applicationSettings>
    <Fly01.Faturamento.Properties.Settings xdt:Transform="Replace">
      <setting name="Fly01_Faturamento_SOAManager_SOAManager" serializeAs="String">
        <value>http://mashups-proxy.cloudtotvs.com.br:8055/TOTVSSoa.Host/SOAManager.svc</value>
      </setting>
    </Fly01.Faturamento.Properties.Settings>
  </applicationSettings>
</configuration>