<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UrlGateway" value="http://gateway.fly01dev.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway-homolog.totvsmpn.com.br/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlLoginSSO" value="http://gestao.fly01dev.com.br/Account/AppLogin/00ba2502-447e-4670-8885-b67d64496141" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlLogoutSSO" value="http://gestao.fly01dev.com.br/Account/AppLogoff/00ba2502-447e-4670-8885-b67d64496141" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <httpCookies domain=".fly01dev.com.br" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <applicationSettings>
    <Fly01.Faturamento.Properties.Settings xdt:Transform="Replace">
      <setting name="Fly01_Faturamento_SOAManager_SOAManager" serializeAs="String">
        <value>http://mashups-proxy.cloudtotvs.com.br:8055/TOTVSSoa.Host/SOAManager.svc</value>
      </setting>
    </Fly01.Faturamento.Properties.Settings>
  </applicationSettings>
</configuration>