<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusRiveJavaScriptEnabled" value="true" />
    <add key="GatewayVerificationKeyPassword" value="t0tv5566895" />
    <add key="UrlS1Gateway" value="http://gateway.fly01local.com.br/api/v2/faturamento/" />
    <add key="GatewayUserName" value="00ba2502-447e-4670-8885-b67d64496141" />
    <add key="GatewayPassword" value="appFaturamento" />
    <add key="UrlLoginSSO" value="http://gestao.fly01local.com.br/Account/AppLogin/00ba2502-447e-4670-8885-b67d64496141" />
    <add key="UrlLogoutSSO" value="http://gestao.fly01local.com.br/Account/AppLogoff/00ba2502-447e-4670-8885-b67d64496141" />
    <add key="MashupUser" value="serie1" />
    <add key="MashupPassword" value="totvs123" />
    <add key="MashupClientId" value="C857134C-A315-4474-A41D-4FEF03657D0C" />

    <add key="MensageriaURL" value="http://mensageria.serie1.com.br" />
    <add key="MensageriaUserName" value="s1saudepmed" />
    <add key="MensageriaUserPassword" value="rj45kht!" />
    <add key="MensageriaServiceCodeEmail" value="6" />
    <add key="MensageriaServiceCodeSMS" value="2" />

    <add key="EmailRemetente" value="serie1@totvs.com.br" />
    <add key="EmailHost" value="mail.totvs.com.br" />
    <add key="EmailPort" value="587" />
    <add key="EmailEnableSsl" value="true" />
    <add key="EmailUseDefaultCredentials" value="false" />
    <add key="EmailCredentialsUserName" value="sp01\serie1" />
    <add key="EmailCredentialsPassword" value="totvs@123" />

    <add key="RootPathApplication" value="http://{0}.fly01dev.com.br" />
    <add key="AppIdFinanceiro" value="acc8b796-04a0-4f4f-b6a4-924d1ca4c27b" />
    <add key="AppIdSaude" value="ea2eda88-17aa-4b41-a43f-0c164c595712" />
    <add key="AppIdFaturamento" value="00ba2502-447e-4670-8885-b67d64496141" />
    <add key="AppIdCompras" value="65e3ba3e-6fcd-4527-b2a4-9dc37c80e285" />
    <add key="AppIdEstoque" value="f259ea8b-f966-4c4f-8b18-97fa4bf2af87" />
    <add key="SessionKey" value="00ba2502-447e-4670-8885-b67d64496141" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState cookieless="UseCookies" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="1440" timeout="1440" />
    <trace enabled="true" localOnly="false" mostRecent="true" pageOutput="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="100000" maxRequestLength="2147483647" maxQueryStringLength="10240" maxUrlLength="2048" requestLengthDiskThreshold="2147483647" enable="true" />
    <globalization enableClientBasedCulture="true" culture="pt-BR" uiCulture="pt-BR" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" slidingExpiration="true" timeout="1440" name="fly01.faturamento" />
    </authentication>
    <httpModules />
    
  <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="10240" maxUrl="2048" />
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" cacheControlCustom="public" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    
    <modules />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /></handlers><validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy proxyaddress="http://proxy-matriz.sp01.local:8080" bypassonlocal="True" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.0.20119" newVersion="7.4.0.20119" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.0.20119" newVersion="7.4.0.20119" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.0.20119" newVersion="7.4.0.20119" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>