<script>
    function fnGetStatusCertificado() {
        $.ajax({
            url: '@Url.Action("StatusCard", "CertificadoDigital")',
            type: "GET",
            success: function (data) {
                fly01._.cardCertificado.setColor(data.color);
                fly01._.cardCertificado.info(`<h5>${data.mainInfo}</h5><small>${(data.subInfo || "")}</small>`)

                fly01.fn.updateTextFields();
                if (data.entidadeHomologacao != "" || data.entidadeProducao != "") {
                    $("input#entidadeHomologacao").val(data.entidadeHomologacao);
                    $("input#entidadeProducao").val(data.entidadeProducao);
                    $("input#entidadeHomologacao").show();
                    $("input#entidadeProducao").show();
                    fly01.fn.updateTextFields();
                }
                else {
                    $("input#entidadeHomologacao").hide();
                    $("input#entidadeProducao").hide();
                }
                
                if (!data.success)
                    fly01.toast(data.message, 'error');
            },
            error: function (jXHR, textStatus, errorThrown) {
                fly01.toast(data.message, 'error');
            }
        });
    }

    function formataData(data) {
        return moment(data).format("DD[/]MM[/]YYYY");
    }

</script>