<script>
    function fnRenderEnum(css, description, tooltip) {
        var tooltipDescription = tooltip || description;
        return "<span class='cool badge left " + css + "' data-tooltip='" + tooltipDescription + "'>" + description + "</span>";
    }

    $(document).on("preDraw.dt", ".dataTable", () => {
        $("span.cool.badge").tooltip('remove');
    });

    $(document).on("draw.dt", ".dataTable", () => {
        $("span.cool.badge").tooltip({ position: "top" });
    });
</script>