<script>
    function fnExibeDatatableMaisMovimentados(data, type, full) {
        var html = "";
        html += "<div>";
        html += "<span class='left-align col m9 truncate'>" + full.descricao + "</span>";
        html += "<strong class='col m3 right-align primary-color-text'>" + full.totalMovimentos + "</strong>";
        html += "</div>";
        return html;
    }
</script>