<script>
    function fnExibeDatatableSaldoAbaixoMinimo(data, type, full) {
        var html = "";
        html += "<div>";
        html += "<span class='left-align col m9 truncate'>" + full.descricao + "</span>";

        if (full.quantidade === undefined)
            html += "<strong class='col m3 right-align green-text'>" + full.saldoProduto + "</strong>";
        else
            html += "<strong class='col m3 right-align green-text'>" + full.quantidade + "</strong>";

        html += "</div>";
        return html;
    }
</script>