<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UrlGateway" value="http://gateway.fly01dev.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway-homolog.totvsmpn.com.br/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlLoginSSO" value="http://manager.bemacashstage.com.br/Account/AppLogin/acc8b796-04a0-4f4f-b6a4-924d1ca4c27b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlLogoutSSO" value="http://manager.bemacashstage.com.br/Account/AppLogoff/acc8b796-04a0-4f4f-b6a4-924d1ca4c27b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <httpCookies domain=".bemacashstage.com.br" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--<sessionState mode="Custom" customProvider="SessionStateRedisAzure" timeout="1440" xdt:Transform="Replace">
      <providers>
        <add name="SessionStateRedisAzure" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="mpn-gestao.redis.cache.windows.net" port="6379" accessKey="3EWGLVR7Xzfkqrv7XsLd7txtQrEaDK6XguCKrG8Qtf0=" ssl="false" />
      </providers>
    </sessionState>-->
  </system.web>
  <applicationSettings>
    <Fly01.Financeiro.Properties.Settings xdt:Transform="Replace">
      <setting name="Fly01_Financeiro_SOAManager_SOAManager" serializeAs="String">
        <value>http://mashups-proxy.cloudtotvs.com.br:8055/TOTVSSoa.Host/SOAManager.svc</value>
      </setting>
    </Fly01.Financeiro.Properties.Settings>
  </applicationSettings>
</configuration>