<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="UrlS1Gateway" value="http://gateway.fly01.com.br/api/v2/financeiro/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GatewayUserName" value="9431cdb8-cb8e-4702-8276-37e91bfc2ad7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GatewayPassword" value="appFinanceiro_37e91bfc2ad7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="UrlLoginSSO" value="http://gestao.fly01.com.br/Account/AppLogin/9431cdb8-cb8e-4702-8276-37e91bfc2ad7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlLogoutSSO" value="http://gestao.fly01.com.br/Account/AppLogoff/9431cdb8-cb8e-4702-8276-37e91bfc2ad7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RootPathApplication" value="http://{0}.fly01.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppIdFinanceiro" value="9431cdb8-cb8e-4702-8276-37e91bfc2ad7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppIdSaude" value="e0f85869-0511-414d-a45d-fc0856e563b3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppIdFaturamento" value="dfc2cdaa-75a3-4eab-b274-fa6b4fcec9fd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppIdCompras" value="a8e5f1ce-d0b4-4b0a-8562-9b8fbf19217b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppIdEstoque" value="79579272-eacf-4522-97fe-91924e9a8d20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="Custom" customProvider="SessionStateRedisAzure" timeout="1440" xdt:Transform="Replace">
      <providers>
        <add name="SessionStateRedisAzure" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="fly01financeiro.redis.cache.windows.net" port="6379" accessKey="FOa38ifDol1zvVh/Z2bjPHGtWA0N1LHniT6HfMDXxwE=" ssl="false" />
      </providers>
    </sessionState>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <!-- BEGIN rule TAG FOR HTTPS REDIRECT -->
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!-- END rule TAG FOR HTTPS REDIRECT -->
      </rules>
    </rewrite>
  </system.webServer>
  <system.net xdt:Transform="Remove">

  </system.net>
  <applicationSettings>
    <Fly01.Financeiro.Properties.Settings xdt:Transform="Replace">
      <setting name="Fly01_Financeiro_SOAManager_SOAManager" serializeAs="String">
        <value>http://mashups-proxy.cloudtotvs.com.br:8055/TOTVSSoa.Host/SOAManager.svc</value>
      </setting>
    </Fly01.Financeiro.Properties.Settings>
  </applicationSettings>
</configuration>
