<script>
    function fnDrawCallbackProdutosPendencias() {
        $(document).off("submit", ".produtoPendenciaForm");
        //$('#dtProdutosPendencias_paginate').hide();

        verificaPendencias();

        $('.permchk[name="novoProduto"]').click(function () {
            if ($(this).prop('checked') == true) {
                var id = $(this).data("id");
                $("#produtoDescricao" + id).val("");
                $("#produtoId" + id).val("");
                $("#btnFatorConversao" + id).addClass('hide');
                $("#fatorConversao" + id).val(1.00);
                $("#tipoFatorConversao" + id).val("Multiplicar");
            }
        })

        $("#dtProdutosPendencias input.autocomplete").each((i, it) => {
            let that = $(it);
            let _ = $$$._;
            _[that.attr("id")] = $(it).autocomplete({
                delay: 200,
                minLength: 0,
                classes: {
                    "ui-autocomplete": "autocomplete-content dropdown-content"
                },
                source: (request, response) => {
                    $.ajax({
                        url: that.data("url"),
                        data: request,
                        success: function success(data) {
                            response(data);
                        }
                    });
                },
                change: (event, ui) => {
                    if (ui && ui.item) {
                        $(`#${that.attr("id")}`).val(ui.item.label);
                        $(`#${that.data("target")}`).val(ui.item.id);
                    }
                    else {
                        $(`#${that.attr("id")}`).val("");
                        $(`#${that.data("target")}`).val("");
                    }
                    $("input#novoProduto" + `${that.data("id")}`).prop("checked", false);

                    //update hidden
                    if (ui.item == null) {
                        $("#unidadeCadastro" + `${that.data("id")}`).val("");
                        $("#btnFatorConversao" + `${that.data("id")}`).addClass('hide');
                        $("#fatorConversao" + `${that.data("id")}`).val(1.00);
                        $("#tipoFatorConversao" + `${that.data("id")}`).val("Multiplicar");
                    }
                    else {
                        $("#unidadeCadastro" + `${that.data("id")}`).val(ui.item.unidadeSigla);
                        $("#fatorConversao" + `${that.data("id")}`).val(1.00);
                        $("#tipoFatorConversao" + `${that.data("id")}`).val("Multiplicar");

                        if ($("#unidadeXml" + `${that.data("id")}`).val() != ui.item.unidadeSigla) {
                            $("#btnFatorConversao" + `${that.data("id")}`).removeClass('hide');
                        }
                        else {
                            $("#btnFatorConversao" + `${that.data("id")}`).addClass('hide');
                        }
                    }
                    return false;
                },
                select: (event, ui) => {
                    $(`#${that.attr("id")}`).val(ui.item.label);
                    $(`#${that.data("target")}`).val(ui.item.id);

                    $("input#novoProduto"+`${that.data("id")}`).prop("checked", false);

                    //update hidden
                    $("#unidadeCadastro" + `${that.data("id")}`).val(ui.item.unidadeSigla);
                    if ($("#unidadeXml" + `${that.data("id")}`).val() != ui.item.unidadeSigla) {
                        $("#btnFatorConversao" + `${that.data("id")}`).removeClass('hide');
                    }
                    else {
                        $("#btnFatorConversao" + `${that.data("id")}`).addClass('hide');
                        $("#fatorConversao" + `${that.data("id")}`).val(1.00);
                        $("#tipoFatorConversao" + `${that.data("id")}`).val("Multiplicar");
                    }
                    return false;
                },
                messages: { noResults: "", results() { } }
            }).autocomplete("instance");
            
            _[that.attr("id")]._renderItem = (ul, item) => {
                let searchData = $("#" + that.attr("id")).val();
                let level = (item.level || 0);
                let label = item.label;
                let detail = item.detail ? "<br><small>" + item.detail + "</small>" : "";

                if (searchData != "") {
                    const regex = new RegExp(`(${searchData.replace(/[-/\\^$*+?.()|[\]{}]/g, "\\$&").split(" ").join("|")})`, "gi");
                    label = item.label.replace(regex, "<span class=\"highlight\">$1</span>");
                    detail = item.detail ? "<br><small>" + item.detail.replace(regex, "<span class=\"highlight\">$1</span>") + "</small>" : "";
                }

                return $("<li>").append(`<span class="lvl-${level}">${label}${detail}</span>`).appendTo(ul);
            };

            _[that.attr("id")]._renderItemData = (ul, item) => {
                return _[that.attr("id")]._renderItem(ul, item).data("ui-autocomplete-item", item);
            };

            _[that.attr("id")]._renderMenu = (ul, items) => {
                $.each(items, function (index, item) {
                    _[that.attr("id")]._renderItemData(ul, item);
                });
            };

            that.on("focus", function () {
                if (!($(it).prop("readonly") || $(it).prop("disabled")))
                    $(it).autocomplete("search", $(it).val());
            });
        });
    }
</script>