<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="app" value="financeiro" />

  <targets>
    <!--<target name="logfile" xsi:type="File" fileName="c:\temp\nlog.file.txt">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="identity" layout="${identity}" />
        <attribute name="app" layout="${var:app}" />
        <attribute name="callsite" layout="${callsite}" />
        <attribute name="method" layout="${event-properties:item=method}" />
        <attribute name="resource" layout="${event-properties:item=resource}" encode="false" />
        <attribute name="requestJson" layout="${event-properties:item=requestJson}" />
        <attribute name="statusCode" layout="${event-properties:item=statusCode}" />
        <attribute name="platformUrl" layout="${event-properties:item=platformUrl}" />
        <attribute name="exception" layout="${event-properties:exception:format=message:maxInnerExceptionLevel=10}" encode="false" />
      </layout>
    </target>-->
    <!--<target name="gmail" xsi:type="Mail"
        smtpServer="smtp.gmail.com"
        smtpPort="587"
        smtpAuthentication="Basic"
        smtpUserName="fly01.debug@gmail.com"
        smtpPassword="!Senha@2016!"
        enableSsl="true"
        from="fly01.debug@gmail.com"
        to="roger.paviani@totvs.com.br;diego.rohr@totvs.com.br;jefferson.follmann@totvs.com.br;tiago.pariz@totvs.com.br"
        cc="thiago.santos@totvs.com.br;jefferson.dias@totvs.com.br;wilson.tedokon@totvs.com.br">
      <body xsi:type="JsonLayout" renderEmptyObject="true">
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="time" layout="${longdate}" />
        <attribute name="message" layout="${message}" />
        <attribute name="identity" layout="${identity}" />
        <attribute name="platformUrl" layout="${event-properties:item=platformUrl}" />
        <attribute name="app" layout="${var:app}" />
        <attribute name="callsite" layout="${callsite}" />
        <attribute name="resource" layout="${event-properties:item=resource}" encode="false" />
        <attribute name="method" layout="${event-properties:item=method}" />
        <attribute name="statusCode" layout="${event-properties:item=statusCode}" />
        <attribute name="exception" layout="${event-properties:exception:format=message:maxInnerExceptionLevel=10}" encode="false" />
        <attribute name="requestJson" layout="${event-properties:item=requestJson}" encode="false" />
      </body>
    </target>-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
    <!--<logger name="*" minlevel="Error" writeTo="gmail" />-->
  </rules>
</nlog>
