<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UrlGateway" value="http://gateway.fly01dev.com.br/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlGatewayNew" value="http://gateway-homolog.totvsmpn.com.br/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlLoginSSO" value="http://gestao.fly01dev.com.br/Account/AppLogin/9ee2f20e-a9cc-48bc-954b-6e8918a87af6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlLogoutSSO" value="http://gestao.fly01dev.com.br/Account/AppLogoff/9ee2f20e-a9cc-48bc-954b-6e8918a87af6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <httpCookies domain=".fly01dev.com.br" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <applicationSettings>
    <Fly01.OrdemServico.Properties.Settings xdt:Transform="Replace">
      <setting name="Fly01_OrdemServico_SOAManager_SOAManager" serializeAs="String">
        <value>http://mashups-proxy.cloudtotvs.com.br:8055/TOTVSSoa.Host/SOAManager.svc</value>
      </setting>
    </Fly01.OrdemServico.Properties.Settings>
  </applicationSettings>
</configuration>