<div>
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            @if (!string.IsNullOrWhiteSpace(ViewBag.CaptchaImage))
            {
                <img id="imgCaptcha" src="data:image/gif;base64,@ViewBag.CaptchaImage" />
            }
        </div>
    </div>
    <br />
    @Html.Hidden("TipoPessoa", (string)ViewBag.TipoPessoa)
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-required">Digite o código da imagem:</label>
                @Html.TextBox("CodigoCaptcha", null, new { @class = "form-control", @maxlength = "100" })
            </div>
        </div>
        <div class="col-md-6 dataNasc">
            <div class="form-group">
                <label class="label-required">Data de nascimento:</label>
                @Html.TextBox("DataNascCaptcha", null, "{0:dd/MM/yyyy}", new { @class = "form-control mask-date", @placeholder = "Data Nascimento" })
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        mascaraCampos();

        $('.dataNasc').show();

        if ($('#TipoPessoa').val() == "J") {
            $('.dataNasc').hide();
            $('#DataNascCaptcha').val('')
        }

        $('#CodigoCaptcha').focus();
        $('#CodigoCaptcha').keyup(function (e) {
            if (e.keyCode == 13) {
                //$('#documento-detail-modal').dialog('option', 'buttons')["Ok"]();
                return false; // prevent the button click from happening
            }
        });
    });
</script>
