<div class="notification" data-status-panel="" role="alert" style="display: none;">
    <button type="button" class="close" onclick="$('div[data-status-panel]').hide()" aria-label="close"><span aria-hidden="true">&times;</span></button>
    <span data-status=""></span>
</div>