<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fly01 Faturamento</title>
<base href="~/" />
<link rel="icon" type="image/ico" href="https://cdnfly01.azureedge.net/img/fly01icon.ico" />
<link type="text/css" rel="stylesheet" href="https://cdnfly01.azureedge.net/fly/1.0.3/fly01ui.css" />
@*<link type="text/css" rel="stylesheet" href="http://poad257.poa01.local:8000/1.0.3/fly01ui.css" />*@
@*<link type="text/css" rel="stylesheet" href="http://poad040100298.poa01.local:8000/fly01ui.css" />*@
@*<link type="text/css" rel="stylesheet" href="http://poad040100303.poa01.local:8000/1.0.3/fly01ui.css" />*@
@*<link type="text/css" rel="stylesheet" href="http://poad040100131.poa01.local:8000/1.0.3/fly01ui.css" />*@